* {
    margin: 0;
    padding: 0;
    font-family: MicrosoftYaHei;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f3f5f7;
}

a {
    /* 去除下划线 */
    text-decoration: none;
}

li {
    list-style: none;
}

/* 定义版心 */
.w {
    width: 1200px;
    margin: auto;
}

.header {
    height: 42px;
    margin: 30px auto;
}


.header .nav,
.logo,
.search,
.user {
    float: left;
}


.header .logo {
    width: 200px;
    margin-right: 70px;
    height: 42px;
}

.nav li {
    float: left;
    margin: 0 15px;
    height: 42px;
}

.nav li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    margin-left: 70px;
    margin-right: 50px;
    height: 42px;
}

.search input {
    float: left;
    border: 1px solid #00a4ff;
    width: 345px;
    height: 40px;
    padding-left: 12px;
}

.search button {
    float: left;
    width: 51px;
    height: 41px;
    border: 0;
    background-image: url(../images/btn.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.user img {
    float: left;
    margin: 5px auto;
}

.user span {
    display: block;
    float: left;
    height: 42px;
    margin-left: 5px;
    line-height: 42px;
}

/* bannerr */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url(../images/banner2_20190819_210028.png) no-repeat top center;
}

.banner .subnav {
    float: left;
    width: 190px;
    height: 420px;
    background: rgba(0, 0, 0, 0.3);
}


.banner .subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    margin-top: 1px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.banner .course {
    float: right;
    width: 231px;
    height: 300px;
    margin-top: 52px;
    background-color: #fff;
}

/* 课表模块 */
.course h2 {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #9bceea;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.more {
    display: block;
    height: 41px;
    margin-top: 5px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    line-height: 41px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* 精品推荐 */
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    /* 行高会继承， 会继承给3个孩子 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.mod {
    float: right;
    margin-right: 26px;
    color: #00a4ff;
}

/* 精品推荐课程 */
.box {
    margin-top: 37px;
}

.one {
    height: 45px;
}

.one h3 {
    float: left;
    color: #494949;
    font-size: 20px;
}

.one a {
    float: right;
    margin-top: 8px;
    margin-right: 35px;
    color: #a5a5a5;
    font-size: 12px;
}

.two ul {
    width: 1225px;
}

.two ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.two ul li img {
    width: 100%;
}

.two ul li p {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 24px;
    padding-right: 20px;
    font-size: 14px;
    color: #050505;
}

.info {
    padding-left: 24px;
    padding-right: 20px;
    font-size: 12px;
    color: #a9a9a9;
}

.info span {
    margin-right: 14px;
    color: #ff7c2d;
}

/* footer 模块 */
.footer {
    height: 415px;
    background-color: #fff;
}

.footer .w {
    padding-top: 35px;
}

.copyright,
.links {
    float: left;
}

.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.links dl {
    float: left;
    margin-left: 145px;
}

.app {
    display: block;
    width: 120px;
    height: 36px;
    padding: 0 32px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

/* 实现hot,子绝父相 */
.two ul li {
    position: relative;
}

.two ul li .hot {
    position: absolute;
    top: 10px;
    right: -4px;
    width: 20%;
}